<h1> Cats </h1>


 <% @cats.each do |cat| %>
    <div class='cat_box'>
        <div> <h2><%= cat.name %></h2></div>
        <div>Sex: <%= cat.sex %></div>
        <div>Color: <%= cat.color %></div>
        <div>Birthdate: <%= cat.birthdate %></div>
        <div>Description: <%= cat.description %></div>
    </div>
<% end %>